{{ define "title" }}containers | {{ .AppName }}{{ end }}
{{ define "css" }}<link rel="stylesheet" href="{{ .StaticFileHost }}/assets/css/app/index.css">{{ end }}
{{ define "js" }}<script type="text/jsx" src="{{ .StaticFileHost }}/assets/js/containers/index.jsx"></script>{{ end }}
{{ define "content" }}
  <input id="override-label-id" type="hidden" value="{{ .Data.Label }}">

  <div id="conditions" class="navbar-collapse">
    <div class="navbar-form navbar-left" role="search">
      <div id="client-filter" class="client-filters btn-group" data-filter-key="client" style="display: none;">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caption">All</span>&nbsp;
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu"></ul>
      </div>
      <div id="status-filter" class="btn-group" data-filter-key="status">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caption">All</span>&nbsp;
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#0">All</a></li>
          <li><a href="#1">created</a></li>
          <li><a href="#2">restarting</a></li>
          <li><a href="#3">running</a></li>
          <li><a href="#4">paused</a></li>
          <li><a href="#5">exited</a></li>
          <li><a href="#6">successfully exited</a></li>
        </ul>
      </div>
      <div class="form-group">
        <input id="search-text" type="text" class="form-control" placeholder="Search" autocomplete="off" style="width: 250px;">
      </div>
    </div>
    <h4 id="count">0 container</h4>
  </div>

  <div id="data"></div>

  <div id="container-detail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detail-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title detail-title"></h3>
          <hr>
        </div>
        <div class="modal-body">
          <div class="detail-refresh"><a>refresh</a></div>
          <pre class="well well-sm"><span class="details"></span></pre>
        </div>
      </div>
    </div>
  </div>

  <div id="container-name" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detail-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title detail-title">Rename <span class="title"></span></h3>
          <hr>
        </div>
        <div class="modal-body" style="padding: 17px 15px 10px 15px;">
          <input class="client-id" type="hidden">
          <input type="text" class="new-name form-control" placeholder="" autocomplete="off" style="width: 100%;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary act-rename">Rename</button>
        </div>
      </div>
    </div>
  </div>

  <div id="container-commit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detail-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title detail-title">Commit <span class="title"></span></h3>
          <hr>
        </div>
        <div class="modal-body" style="padding: 17px 15px 10px 15px;">
          <input class="client-id" type="hidden">
          <div class="item-caption" style="margin-top: 0;">Repository<span style="color: red;">*</span>:</div>
          <input type="text" class="form-control repository" placeholder="owner/image" autocomplete="off" style="width: 100%;">
          <div class="item-caption">Tag:</div>
          <input type="text" class="form-control tag" placeholder="latest" autocomplete="off" style="width: 100%;">
          <div class="item-caption">Commit message:</div>
          <input type="text" class="form-control message" placeholder="commit message" autocomplete="off" style="width: 100%;">
          <div class="item-caption">Author:</div>
          <input type="text" class="form-control author" placeholder="author" autocomplete="off" style="width: 100%;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary act-commit">Commit</button>
        </div>
      </div>
    </div>
  </div>

{{ end }}
