{{ define "title" }} logs | {{ .AppName }}{{ end }}
{{ define "css" }}
<link rel="stylesheet" href="{{ .StaticFileHost }}/assets/css/lib/nv.d3.css">
<link rel="stylesheet" href="{{ .StaticFileHost }}/assets/css/app/index.css">
{{ end }}
{{ define "js" }}
{{ if eq .Mode "production"}}
<script type="text/javascript" src="{{ .StaticFileHost }}/assets/js/min/containers/logs.js"></script>
{{ else }}
<script type="text/javascript" src="{{ .StaticFileHost }}/assets/js/lib/browser-5.8.23.min.js"></script>
<script type="text/babel" src="{{ .StaticFileHost }}/assets/js/containers/logs.jsx"></script>
{{ end }}
{{ end }}
{{ define "content" }}
  <input id="filter-label-ids" type="hidden" value="{{ .Data.LabelFilters }}">

  <div class="navbar-form navbar-left" role="search">
    <div id="client-filter" class="client-filters btn-group" data-filter-key="client" style="display: none;">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caption">All</span>&nbsp;
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu"></ul>
    </div>
    <div id="label-filter" class="label-filters btn-group" data-filter-key="label" style="display: none;">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caption">All</span>&nbsp;
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu"></ul>
    </div>
  </div>

  <div class="navbar-form navbar-right">
    <div class="btn-group">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caption">refresh / 1 sec</span>&nbsp;
        <span class="caret"></span>
      </a>
      <ul id="refresh-window" class="dropdown-menu">
        <li><a href="#0">stopped</a></li>
        <li><a href="#1">1 sec</a></li>
        <li><a href="#2">2 sec</a></li>
        <li><a href="#5">5 sec</a></li>
        <li><a href="#10">10 sec</a></li>
        <li><a href="#30">30 sec</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caption">20 records</span>&nbsp;
        <span class="caret"></span>
      </a>
      <ul id="monitoring-count" class="dropdown-menu">
        <li><a href="#100">100 records</a></li>
        <li><a href="#50">50 records</a></li>
        <li><a href="#20">20 records</a></li>
        <li><a href="#10">10 records</a></li>
      </ul>
    </div>
  </div>

  <div id="data" style="clear: both;"></div>

{{ end }}
