{{ define "title" }}{{ .Data.ID }} statistics &amps; logs | {{ .AppName }}{{ end }}
{{ define "css" }}<link rel="stylesheet" href="{{ .StaticFileHost }}/assets/css/app/index.css">{{ end }}
{{ define "js" }}<script type="text/jsx" src="{{ .StaticFileHost }}/assets/js/containers/statlog.jsx"></script>{{ end }}
{{ define "content" }}
  <input id="container-id" type="hidden" value="{{ .Data.ID }}">

  <h2 style="margin: 25px 0 20px 0;">Statistics of {{ .Data.ID }}</h2>
  <div id="statistics"></div>

  <h2 style="margin: 25px 0 20px 0;">Logs of {{ .Data.ID }}</h2>
  <div id="logs" style="overflow-y: auto;"></div>

{{ end }}
