{{ define "title" }}{{ .Data.ID }} top | {{ .AppName }}{{ end }}
{{ define "css" }}<link rel="stylesheet" href="{{ .StaticFileHost }}/assets/css/app/index.css">{{ end }}
{{ define "js" }}
{{ if eq .Mode "production"}}
<script type="text/javascript" src="{{ .StaticFileHost }}/assets/js/min/containers/top.js"></script>
{{ else }}
<script type="text/javascript" src="{{ .StaticFileHost }}/assets/js/lib/browser-5.8.23.min.js"></script>
<script type="text/babel" src="{{ .StaticFileHost }}/assets/js/containers/top.jsx"></script>
{{ end }}
{{ end }}
{{ define "content" }}
  <input id="client-id" type="hidden" value="{{ .Data.Client }}">
  <input id="container-id" type="hidden" value="{{ .Data.ID }}">

  <h2 style="margin: 25px 0 20px 0;">Top of {{ .Data.Name }}</h2>
  <div id="data"></div>

{{ end }}
