<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ template "title" . }}</title>
  <link rel="icon" type="image/png" href="{{ .StaticFileHost }}/assets/img/favicon.png">
  <link rel="apple-touch-icon" href="{{ .StaticFileHost }}/assets/img/apple-icon.png">
  <link rel="stylesheet" href="{{ .StaticFileHost }}/assets/css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="{{ .StaticFileHost }}/assets/css/main.css">
  {{ template "css" . }}
<body>
  <header>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">{{ .AppName }}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li id="menu-containers"><a href="/">containers</a></li>
            <li id="menu-logs"><a href="/logs">logs</a></li>
            <li id="menu-statistics"><a href="/statistics">stats</a></li>
            <li><div class="separator">|</div></li>
            <li id="menu-images"><a href="/images">images</a></li>
            <li><div class="separator">|</div></li>
            <li id="menu-clients"><a href="/clients">clients</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
  {{ template "content" . }}
  </div>

  <script type="text/javascript" src="{{ .StaticFileHost }}/assets/js/lib/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{{ .StaticFileHost }}/assets/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ .StaticFileHost }}/assets/js/lib/react-0.13.3.min.js"></script>
  <script type="text/javascript" src="{{ .StaticFileHost }}/assets/js/app.js"></script>
  {{ template "js" . }}
</body>
</html>
