{{ define "title" }}images | {{ .AppName }}{{ end }}
{{ define "css" }}<link rel="stylesheet" href="{{ .StaticFileHost }}/assets/css/app/index.css">{{ end }}
{{ define "js" }}<script type="text/jsx" src="{{ .StaticFileHost }}/assets/js/images/index.jsx"></script>{{ end }}
{{ define "content" }}
  <input id="mode-view-only" type="hidden" value="{{ .Data.ViewOnly }}">

  <div class="navbar-collapse">
    <div class="navbar-form navbar-left" role="search">
      <div id="client-filter" class="client-filters btn-group" data-filter-key="client" style="display: none;">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caption">All</span>&nbsp;
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu"></ul>
      </div>
      <div id="label-filter" class="label-filters btn-group" data-filter-key="label" style="display: none;">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caption">All</span>&nbsp;
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu"></ul>
      </div>
      <div class="form-group">
        <input id="search-text" type="text" class="form-control" placeholder="Search" autocomplete="off" style="width: 250px;">
        <a class="btn btn-default" data-toggle="modal" data-target="#image-pull">+</a>
      </div>
    </div>
    <h4 id="count">0 image</h4>
  </div>

  <div id="data"></div>

  <div id="image-detail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detail-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title detail-title"></h3>
          <hr>
        </div>
        <div class="modal-body">
          <div class="detail-refresh"><a>refresh</a></div>
          <div id="progress-bar" style="position: absolute;top: 0;width: 95%;">
            <div class="bs-component">
              <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
            </div>
          </div>
          <pre class="well well-sm"><span class="details"></span></pre>
        </div>
      </div>
    </div>
  </div>

  <div id="image-pull" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detail-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title detail-title">Pull a new image</h3>
          <hr>
        </div>
        <div class="modal-body" style="padding: 17px 15px 10px 15px;">
          <input id="pull-client-id" type="hidden">
          <div id="pull-client" class="client-filters btn-group" data-filter-key="client" style="margin: 0 0 7px 0;display: none;">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caption">All</span>&nbsp;
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu"></ul>
          </div>
          <input id="image-name" type="text" class="form-control"
            placeholder="owner/repository:tag" autocomplete="off"
            style="width: 100%;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary act-pull">Pull</button>
        </div>
      </div>
    </div>
  </div>

  <div id="image-tag" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detail-title">
    <input type="hidden" class="image-id">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title detail-title">Tag to <span class="title"></span></h3>
          <hr>
        </div>
        <div class="modal-body" style="padding: 17px 15px 10px 15px;">
          <div class="item-caption" style="margin-top: 0;">Repository<span style="color: red;">*</span>:</div>
          <input type="text" class="form-control repository" placeholder="owner/image" autocomplete="off" style="width: 100%;">
          <div class="item-caption">Tag:</div>
          <input type="text" class="form-control tag" placeholder="latest" autocomplete="off" style="width: 100%;">
          <input type="hidden" class="client">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary act-tag">Tag</button>
        </div>
      </div>
    </div>
  </div>

  <div id="image-run" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detail-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title detail-title"></h3>
          <hr>
        </div>
        <div class="modal-body">
          <textarea id="run-scripts" class="form-control" style="height: 300px;" readonly="true"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary act-run">Run</button>
        </div>
      </div>
    </div>
  </div>

{{ end }}
